#submitButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    background: #00729d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 700;
    width: 130px;
}

#submitButton:hover {
    opacity: 80%;
    cursor: pointer;
}

#showNotesButton {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    background: #f78100;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 700;
    width: 130px;
}

#showNotesButton:hover {
    opacity: 80%;
    cursor: pointer;
}

#notes_section {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 20px;
}

body {
    margin: 30px;
}

#notesSection {
    height: 400px;
    overflow: scroll;
}

#notesSection p {
    font-size: 16px;
    font-family: monospace;
    margin: 5px 0;
}

#notesSection p::before {
    content: "•";
    margin-right: 0.5em;
}

#noteInput {
    font-size: 16px;
}

#cf-logo {
    height: 50px;
    margin-bottom: 20px;
}

#main-div {
    width: 100%;
}

#main-1 {
    width: 50%;
    float: left;
}

#main-2 {
    width: 45%;
    float: left;
    margin-left: 30px;
}

#main-2 img {
    height: 100%;
    width: 100%;
}

#main-1 h1 span {
    padding-left: 5px;
    font-size: 14px;
    color: #8f8f8f;
}